body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
}
/*formularios*/
header{
    
    box-sizing: border-box;
    width: 60vw;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px;
    align-items: center;
    box-shadow: 0 3px 3px 0 #0005;
    background-color: #eee;
}

input,label{
    margin: 10px;
}
h1,h2,h3,h4{
    margin-top: 20px;
    text-align: center;
    text-wrap: balance;
    color: #000;
}
input{
    border-radius: 5px;
    padding: 3px;
    border: none;
}
.formulario{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #0003;
    padding: 40px;
    border-radius: 40px;
    border: 3px solid #0006;
}
.form_jugador span{
    font-size: 15pt;
    font-weight: bold;
}
.form_jugador{
    padding: 10px;
}

.form_jugador label{
    flex: 1;
    margin-left: 20px;
}
.form_jugador input{
    flex: 1;
    margin-left: 20px;
}
.botones {
    margin-top: 20px;
    
}
.botones span{
    font-size: 15pt;
    font-weight: bolder;
}
.btn{
    margin: 0px 20px;
    padding: 5px 20px;
    background-color: rgb(244, 189, 22);
    border: 1px solid #0005;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 #0005;
}
/*tablero*/

.juego{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60vw;
    align-content: center;
    box-shadow: 0 3px 3px 0 #0005;
    background-color: #eee;
    gap: 20px;
}
.juego-inicio{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    padding: 20px 0;
}
.tablero {
    height: 30vw;
    width: 30vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 2px solid #0034;
    padding: 0px;
    border-radius: 50px;
    background-color: #88f6;
    padding: 30px 50px;
    gap: 20px;
    margin-top: 20px;
}
.tablero button{
    border-radius: 10px;
    border: none;
}
/*estadistica*/
.estadistica{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #88f2;
    padding: 20px;
    border-radius: 40px;
    border: 2px solid #0034;
    box-sizing: border-box;
}
.estadistica h3{
    margin-top: 20px;
    flex: 1;
}
.componentes{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.turno{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex: 2;
}

.turno span{
    padding: 10px 0;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    flex: 2;
    font-size: 30pt;
    font-weight: bold;
    border-radius: 20px;
}
/*cronometro*/
.cronometro{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 40pt;
    padding: 10px;
    flex: 2;
}
/*movimientos*/
.movimientos{
    display: flex;
    gap: 20px;
    margin: 10px 0 20px 0;
    flex: 2;

}
/*estado de la partidad*/
.estado{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    font-size: 20px;
    background-color: #fff;
    padding: 20px 20%;
    width: 100%;

}
/*Histroial*/
.historial{
    box-sizing: border-box;
    padding: 20px;
    width: 60vw;
    box-shadow: 0 3px 3px 0px #0005;
    justify-items: center;
    background-color:#fff8;
    gap: 20px;
}
.historial-partida{
    margin: 20px;
    border-radius: 20px;
    background-color: #fff8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px 30px;
    gap: 20px;
}
.historial-jugadores{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    background-color: #fff8;
}
.historial-ordenar{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.ganador span{
    background-color: #fff8;
}
.ganador,.perdedor{
    margin-top: 15px;
    width: 30%;
    height:30px;
    background-color: #fff8;
}
footer{
    width: 100vw;
    height: 10vh;
    background-color: #000;
    padding: 40px;

}
footer div{
    text-align: center;
    color: #fff;
}

.btn:hover{
    scale: 1.2;
    background-color: rgb(255, 191, 0);
}
.btn:disabled{
    opacity: 0.5;
    background-color: rgb(121, 109, 73);
    color: #fff;
}
@media screen and (max-width:800px) {
    header{
        width: 90vw;
    }
    .formulario{
        flex-direction: column;
    }
    .botones{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .juego{
        width: 90vw;
    }       
    .tablero {
        width: 80%;
        height: 80vw;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 10px;
        padding: 10px;
        border-radius: 20px;
    }
    .historial{
        width: 90vw;
    }
    .historial-jugadores{
    flex-direction: column;
    }
    .ganador,.perdedor{
    background-color: #aaa;
    width: 80%;
    }
    .componentes{
        width: 90vw;
    }
}

