body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/*formularios*/
header{
    margin-top: 40px;
    box-sizing: border-box;
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px;
    border-radius: 20px;
    align-items: center;
    border: 4px solid #aaa;
}

input,label{
    flex-basis: 1;
}
h1,h2,h3,h4{
    margin: 0;
    text-align: center;
    text-wrap: balance;
}
.formulario{
    background-color: aqua;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.form_jugador{
    padding: 10px;
}

.form_jugador label{
    flex: 1;
    margin-left: 20px;
}
.form_jugador input{
    flex: 1;
    margin-left: 20px;
}
.botones {
    margin-top: 20px;
    
}
.btn{
    margin: 10px 20px;
}
/*tablero*/

.juego{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60vw;
    background-color: aquamarine;
    align-content: center;
    justify-items: center;
}
.juego-inicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tablero {
    height: 30vw;
    width: 30vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 2px solid #333;
    padding: 0px;
}
/*estadistica*/
.estadistica{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.estadistica h3{
    margin-top: 20px;
    flex: 1;
}
.componentes{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.turno{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border:1px solid #000;
    flex: 2;
}

.turno span{
    padding: 10px 0;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    border: 1px solid #000;
    background-color: #333;
    flex: 2;
    font-size: 30pt;
}
/*cronometro*/
.cronometro{
    margin-top: 10px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-evenly;
    font-size: 40pt;
    padding: 10px;
    flex: 2;
}
/*movimientos*/
.movimientos{
    display: flex;
    gap: 20px;
    margin: 10px 0 20px 0;
    flex: 2;

}
/*estado de la partidad*/
.estado{
    
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;

}
/*Histroial*/
.historial{
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #000;
    width: 60vw;
    display: column;
}
.historial-jugadores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    box-sizing: border-box;
    padding: 20px;
}
.ganador,.perdedor{
    background-color: #aaa;
    width: 40%;
}

@media screen and (max-width:800px) {
    header{
        width: 80vw;
    }
    .formulario{
        flex-direction: column;
    }
    .botones{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .juego{
        width: 80vw;
    }       
    .tablero {
            width: 80vw;
            height: 80vw;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,1fr);
    }
    .historial-jugadores{
    flex-direction: column;
    }
    .ganador,.perdedor{
    background-color: #aaa;
    width: 80%;
    }
    .componentes{
        flex-direction: column;
        align-items: center;
    }
}

