body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/*formularios*/
header{
    margin-top: 40px;
    box-sizing: border-box;
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px;
    border-radius: 20px;
    align-items: center;
    border: 4px solid #aaa;
}

input,label{
    flex-basis: 1;
}
h1{
    text-align: center;
    text-wrap: balance;
}
.formulario{
    background-color: aqua;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.form_jugador{
    padding: 10px;
}

.form_jugador label{
    flex: 1;
    margin-left: 20px;
}
.form_jugador input{
    flex: 1;
    margin-left: 20px;
}
.botones {
    margin-top: 20px;
}
.btn{
    margin: 0 20px;
}
/*tablero*/
.juego{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60vw;
    background-color: aquamarine;
}
.tablero {
    height: 30vw;
    width: 30vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 2px solid #333;
    padding: 0px;
}
/*estadistica*/
.componentes{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/*cronometro*/
.cronometro{
    display: flex;
}
/*movimientos*/
.movimientos{
    display: flex;
    gap: 20px;
}


@media screen and (max-width:480px) {
    header{
        width: 80vw;
    }
    .formulario{
        flex-direction: column;
    }
    .botones{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .juego{
        width: 80vw;
    }       
    .tablero {
            width: 80vw;
            height: 80vw;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,1fr);
    }
    
}
/*
